<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Styles/home_admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/f55ea41269.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <div class="home_link">
            <a href="home_admin.html">
                <i class="fa-solid fa-house"></i>
                <h4 class="home_link__text">Home</h4>
            </a>
        </div>
        
        <h4>nombre completo</h4>
        <h4>rol</h4>

        <nav>

            <i class="fa-solid fa-grip-lines"></i>
    
        </nav>

    </header>

    <div class="options">
        <h2>Funcionalidades</h2>

        <a href="create_users.html">
            <div class="options__create_users">
            <i class="fa-solid fa-user"></i>
            <h5>Crear Usuarios</h5>
            
            </div>    
        </a>
    
        <div class="options__update_users">
            <i class="fa-solid fa-up-long"></i>
            <h5>Actualizar Usuarios</h5>

        </div>
        
        
        <div class="options__search_users">
        <i class="fa-solid fa-magnifying-glass"></i>
        <h5>Buscar Usuarios</h5>

        </div>
        
        
    
        <div class="options__delete_users">
            <i class="fa-solid fa-x"></i>
            <h5>Eliminar Usuarios</h5>
        </div>

    </div>

    
 
    <footer>

    </footer>
    
</body>
</html>