<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update users</title>
    <link rel="stylesheet" type="text/css" href="Styles/update_users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
    </header>

    <h1 class="tittle">Update users</h1>  
    <div class="principal_frame">

        <div class="forms_frame">

            <form method="POST">

                <div class="forms_frame__id_employee" >
                    <label class="forms_frame__id_employee-label">ID employee</label>
                    <input class="forms_frame__id_employee-input" id="id_employee" type="text" placeholder="ID employee">
                </div>

                <div class="forms_frame__code_log_in" >
                    <label class="forms_frame__code_log_in-label">Code log in worker</label>
                    <input class="forms_frame__code_log_in-input" id="code_log_in" type="text" placeholder="Code_log_in">
                </div>

                <div class="forms_frame__password" >
                    <label class="forms_frame__password-label">Password</label>
                    <input class="forms_frame__password-input" id="password" type="password" placeholder="Password">
                </div>

                <div class="forms_frame__first_name" >
                    <label class="forms_frame__first_name-label">First name</label>
                    <input class="forms_frame__first_name-input" id="first_name" type="text" placeholder="First name">
                </div>

                <div class="forms_frame__second_name" >
                    <label class="forms_frame__second_name-label">Second name</label>
                    <input class="forms_frame__second_name-input" id="second_name" type="text" placeholder="Second name">
                </div>

                <div class="forms_frame__last_name" >
                    <label class="forms_frame__last_name-label">Last name</label>
                    <input class="forms_frame__last_name-input" id="last_name" type="text" placeholder="Last name">
                </div>

                <div class="forms_frame__second_last_name" >
                    <label class="forms_frame__second_last_name-label">Second last name</label>
                    <input class="forms_frame__second_last_name-input" id="second_last_name" type="text" placeholder="Second last name">
                </div>

                <div class="forms_frame__cedula" >
                    <label class="forms_frame__cedula-label">Cedula</label>
                    <input class="forms_frame__cedula-input" id="cedula" type="text" placeholder="Cedula">
                </div>

                <div class="forms_frame__phone_number" >
                    <label class="forms_frame__phone_number-label">phone number</label>
                    <input class="forms_frame__phone_number-input" id="phone_number" type="text" placeholder="Phone number">
                </div>

                <div class="forms_frame__email" >
                    <label class="forms_frame__email-label">Email</label>
                    <input class="forms_frame__email-input" id="email" type="email" placeholder="Email">
                </div>

                <div class="forms_frame__role" >
                    <label class="forms_frame__role-label">Role</label>
                    <input class="forms_frame__role-input" id="role" type="text" placeholder="Role">
                </div>

                <button class="forms_frame__button" id="Btn_registrar"> Create user</button>
            
            </form>
        
        </div>

    </div>
    
    <script src="JavaScript/update_users.js"></script>

    <footer>
        <h5>Este sitio está protegido por reCAPTCHA. Se aplican los <a href="https://policies.google.com/terms">Términos del servicio</a> y la <a href="https://policies.google.com/privacy">Política de privacidad</a> de Google. ©AFPO MANAGMENT INVENTARY</h5>
    </footer>
    
</body>
</html>