<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create users</title>
    <link rel="stylesheet" type="text/css" href="Styles/create_users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
    </header>

    

    <footer>
        <h5>Este sitio está protegido por reCAPTCHA. Se aplican los <a href="https://policies.google.com/terms">Términos del servicio</a> y la <a href="https://policies.google.com/privacy">Política de privacidad</a> de Google. ©AFPO MANAGMENT INVENTARY</h5>
    </footer>
    
</body>
</html>