<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="Styles/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
    </header>

    <h1 class="name">AFPO INVENTARY MANAGMENT</h1>  
    <div class="principalFrame">

        <h2 class="principalFrame__logIn">Iniciar Sesión</h2>

        <div class="formsFrame">

            <form method="post">

                <div class="formsFrame__userCode" >
                    <label class="formsFrame__userCode-label">código de usuario</label>
                    <input class="formsFrame__userCode-input" name="userCode" id="userCode" type="number" placeholder="código de usuario">
                </div>

                <div class="formsFrame__password" >
                    <label class="formsFrame__password-label">Contraseña</label>
                    <input class="formsFrame__password-input" name="password" id="password" type="password" placeholder="Contsraseña">
                </div>

                <button class="formsFrame__button" id="LogInBtn"> Iniciar sesión</button>
            
            </form>
        </div>
    </div>
    <script src="JavaScript/index.js"></script>
    
    <footer>
        <h5>Este sitio está protegido por reCAPTCHA. Se aplican los <a href="https://policies.google.com/terms">Términos del servicio</a> y la <a href="https://policies.google.com/privacy">Política de privacidad</a> de Google. ©AFPO MANAGMENT INVENTARY</h5>
    </footer>

</body>
</html>