<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Styles/homeAdmin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/f55ea41269.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header class="header">

        <nav class="nav">
            <i class="fa-solid fa-bars"></i>
        </nav>

        <a href="homeAdmin.html">
            <i class="fa-solid fa-house"></i>
        </a>
        
        <h4 class="header__nameText">nombre completo</h4>
        <h4 class="header__rolText">rol</h4>

        <i class="fa-solid fa-gear"></i>    

    </header>

    <ul class="nav__dropdownMenu">
        <li><a href="">Perfil</a></li>
        <li><a href="">Cambiar_contraseña</a></li>
        <li><a href="index.html">Cerrar_sesion</a></li>
    </ul>

    <script src="JavaScript/dropdownMenuActive.js"></script>

    <div class="userOptionsMenuContainer ">
        <ul class="userOptionsMenu">
            <li><a href="">Incio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Bodega</a></li>                
        </ul>
    </div>

    <script src="JavaScript/usersOptionsMenu.js"></script>

    <h2 class="tittle">Funcionalidades</h2>
    
    <div class="options">
        
        <a href="rolesOptions.html" class="rolesOptions">
            <i class="fa-solid fa-hammer"></i>
            <h5 class="rolesOptionsSubtittle">Roles</h5>
        </a>

        <a href="userOptions.html" class="usersOptions">
            <i class="fa-solid fa-user"></i>
            <h5 class="usersOptions__subtittle">Usuarios</h5>    
        </a>    
        
        <a href="clientOptions.html" class="clientOptions">
            <i class="fa-solid fa-address-card"></i>
            <h5 class="clientOptionsSubtittle">Clientes</h5>
        </a>
        
        <a href="productOptions.html" class="productOptions">
            <i class="fa-solid fa-apple-whole"></i>
            <h5 class="productOptionsSubtittle">Productos</h5>
        </a>

        <a href="categoryOptions.html" class="categoryOptions">
            <i class="fa-solid fa-list"></i>
            <h5 class="categoryOptionsSubtittle">Categorias</h5>
        </a>

        <a href="kardexOptions.html" class="kardexOptions">
            <i class="fa-solid fa-clipboard-list"></i>
            <h5 class="kardexOptionsSubtittle">Kardex</h5>
        </a>

        <a href="salePointOptions.html" class="salePointOptions">
            <i class="fa-solid fa-shop"></i>
            <h5 class="salePointOptionsSubtittle">Punto de venta</h5>
        </a>

        <a href="typeOfMovementOptions.html" class="typeOfMovementOptions">
            <i class="fa-solid fa-warehouse"></i>
            <h5 class="typeOfMovementSubtittle">Tipos de Movimientos</h5>
        </a>

        <a href="warehouseOptions.html" class="warehouseOptions">
            <i class="fa-solid fa-warehouse"></i>
            <h5 class="warehouseOptionsSubtittle">Bodega</h5>
        </a>

        <a href="warehouseMovementOptions.html" class="warehouseMovementOptions">
            <i class="fa-solid fa-warehouse"></i>
            <h5 class="warehouseMovementOptionsSubtittle">Movimientos de bodega</h5>
        </a>

        
    </div>

    <footer>
        <h5 class="footer__copyright">Este sitio está protegido por reCAPTCHA. Se aplican los <a href="https://policies.google.com/terms">Términos del servicio</a> y la <a href="https://policies.google.com/privacy">Política de privacidad</a> de Google. ©AFPO MANAGMENT INVENTARY</h5>
    </footer>
    
</body>
</html>