<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Styles/usersOptions.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/f55ea41269.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Usuarios</title>
</head>
<body>
    <header class="header">

        <nav class="nav">
            <i class="fa-solid fa-bars"></i>
        </nav>

        <a href="homeAdmin.html">
            <i class="fa-solid fa-house"></i>
        </a>
        
        <h4 class="header__nameText" id="header__nameText">nombre completo</h4>
        <h4 class="header__rolText" id="header__roleText">rol</h4>

        <i class="fa-solid fa-gear"></i>

    </header>

<!-------------------------dropdown menu--------------------------->

    <ul class="nav__dropdownMenu">
        <li><a href="">Perfil</a></li>
        <li><a href="">Cambiar contraseña</a></li>
        <li><a href="index.html">Cerrar sesion</a></li>
    </ul>

    <script src="JavaScript/dropdownMenuActive.js"></script>

<!-------------------------slide options menu --------------------------->

    <div class="userOptionsMenuContainer ">
        <ul class="userOptionsMenu">
            <li><a href="">Incio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Bodega</a></li>                
        </ul>
    </div>    
    <script src="JavaScript/usersOptionsMenu.js"></script>
    


<!-------------------------action buttons--------------------------->

    <div class="actionButtonsFrame">
        <button onclick="" class="actionButtonsFrame__CreateUsers" id="btnRegisterMenu"> Crear usuarios</button>

        <button onclick="" class="actionButtonsFrame__SearchUser" id="btnSearchUserByUserCode"> Buscar usuarios por codigo</button>

    </div>

    <!------------------------Table---------------------------->
    <div class="tableFrame" id="tableFrame">
      <table id="table">
        <h4 class="btncloseTable" id="btncloseTable">X</h4>
        <thead>
          <tr>
            <th colspan="12">Usuarios</th>
          </tr>
          <tr>
            <th>Id</th>
            <th>Código de usuario</th>
            <th>Contraseña</th>
            <th>Rol</th>
            <th>Primer nombre</th>
            <th>Segundo nombre</th>
            <th>Primer apellido</th>
            <th>Segundo apellido </th>
            <th>Cédula</th>
            <th>Celular</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
      


     <!----------------------------Register User--------------------------------->

    <div class="formRegisterFrame" id="formRegisterFrame">
        <h4 class="btncloseRegister" id="btncloseRegister">X</h4>
        <h1 class="RegisterTittle">Registrar Usuario</h1>
        <form method="POST" class="registerUserForm">
          
            <input class="formRegisterFrame__userCode-input" id="userCodeRegister" type="text" placeholder="codigo de usuario">
            <input class="formRegisterFrame__password-input" id="passwordRegister" type="password" placeholder="Contraseña">
            <select class="formRegisterFrame__role-selectInput" id="roleRegister">
            </select>
            <input class="formRegisterFrame__firstName-input" id="firstNameRegister" type="text" placeholder="Primer nombre">
            <input class="formRegisterFrame__secondName-input" id="secondNameRegister" type="text" placeholder="Segundo nombre">
            <input class="formRegisterFrame__lastName-input" id="lastNameRegister" type="text" placeholder="primer apellido">
            <input class="formRegisterFrame__secondLastName-input" id="secondLastNameRegister" type="text" placeholder="Segundo apellido">
            <input class="formRegisterFrame__cedula-input" id="cedulaRegister" type="text" placeholder="Cedula">
            <input class="formRegisterFrame__phoneNumber-input" id="phoneNumberRegister" type="text" placeholder="Celular">
            <input class="formRegisterFrame__email-input" id="emailRegister" type="email" placeholder="Email">
        
            <button onclick="" class="formRegisterFrame__button" id="btnRegisterUser"> Registrar usuario</button>
      </form>
    </div>


    
    <!--pop up user registered succesfully-->

    <div class="popUpUserRegistered" id="popUpUserRegistered">
        <h4 class="btnClosePopUpUserRegistered" id="btnClosePopUpUserRegistered">X</h4>
        <i class="fa-solid fa-circle-check"></i>
        <h4 class="userRegisteredText">El usuario se ha registrado <br> satisfactoriamente</h4>
    </div>

    <!--pop up an error has ocurred-->

    <div class="popUpError" id="popUpError">
        <h4 class="btnClosePopUpError" id="btnClosePopUpError">X</h4>
        <i class="fa-solid fa-circle-xmark"></i>
        <h4 class="errorText">Ha ocurrido un error</h4>
    </div>

    <!--------------------------------update info user------------------------------------------>
    
    <div class="formUpdateFrame" id="formUpdateFrame">
        <h4 class="btncloseUpdateFrame" id="btncloseUpdateFrame">X</h4>
        <h1 class="UpdateTittle">Modificar Usuario</h1>
        <form method="POST" class="updateUserForm">

            <input class="formUpdateFrame__userCode-input" id="userCodeUpdate" type="text" placeholder="codigo de usuario">
            <input class="formUpdateFrame__password-input" id="passwordUpdate" type="password" placeholder="Contraseña">
            <select class="formUpdateFrame__user-selectInput" id="userUpdate">
            </select>
            <input class="formUpdateFrame__firstName-input" id="firstNameUpdate" type="text" placeholder="Primer nombre">
            <input class="formUpdateFrame__secondName-input" id="secondNameUpdate" type="text" placeholder="Segundo nombre">
            <input class="formUpdateFrame__lastName-input" id="lastNameUpdate" type="text" placeholder="primer apellido">
            <input class="formUpdateFrame__secondLastName-input" id="secondLastNameUpdate" type="text" placeholder="Segundo apellido">
            <input class="formUpdateFrame__cedula-input" id="cedulaUpdate" type="text" placeholder="Cedula">
            <input class="formUpdateFrame__phoneNumber-input" id="phoneNumberUpdate" type="text" placeholder="Celular">
            <input class="formUpdateFrame__email-input" id="emailUpdate" type="email" placeholder="Email">
            
            <button  class="formsFrame__button" id="btnUpdateUser">Modificar usuario</button>
      </form>
    </div>
              
    <!--pop up user updated succesfully-->

    <div class="popUpUserUpdated" id="popUpUserUpdated">
        <h4 class="btnClosePopUpUserUpdated" id="btnClosePopUpUserUpdated">X</h4>
        <i class="fa-solid fa-circle-check"></i>
        <h4 class="userUpdatedText">El usuario se ha actualizado <br>satisfactoriamente</h4>
    </div>

    <!--------------------------delete user--------------------------------->

    <!--pop up user deleted succesfully-->

    <div class="popUpUserDeleted" id="popUpUserDeleted">
        <h4 class="btnClosePopUpUserDeleted" id="btnClosePopUpUserDeleted">X</h4>
        <i class="fa-solid fa-circle-check"></i>
        <h4 class="userDeletedText">El usuario se ha eliminado <br> satisfactoriamente</h4>
    </div>

    <!--------------------------searchUserByUserCode--------------------------------->

    <div class="searchUserByUserCodeFrame" id="searchUserByUserCodeFrame">
        <h2 class="searchUserByUserCodeTittle">Buscar usuario por su código de usuario</h2>
        <h4 class="BtnCloseSearchUserByUserCodeForm" id="BtnCloseSearchUserByUserCodeForm">X</h4>
        <form class="searchUserByUserCodeForm" id="searchUserByUserCodeForm" method="POST">
            <input class="formSearchByUserCodeFrameInput" id="formSearchByUserCodeFrameInput" type="text" placeholder="Codigo de usuario">
            <button class="btnsearchUserByUserCodeForm" id="btnSearchUser">Buscar usuario</button>
        </form>
    </div>


    <!-----------------------------Scripts----------------------------------> 
    <script type="module" src="JavaScript/rolePetitions.js"></script>
    <script type="module" src="JavaScript/userPetitions.js"></script>
    <script type="module" src="JavaScript/userOptions.js"></script>

    <!-----------------------------Footer---------------------------------->      
    <footer>
        <h5 class="footer__copyright">Este sitio está protegido por reCAPTCHA. Se aplican los <a href="https://policies.google.com/terms">Términos del servicio</a> y la <a href="https://policies.google.com/privacy">Política de privacidad</a> de Google. ©AFPO MANAGMENT INVENTARY</h5>
    </footer>
    
</body>
</html>