<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="estyles/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header>
    </header>

    <div class="principal_frame">

        <h1 class="principal_frame__log_in">Iniciar Sesión</h1>

        <div class="forms_frame">

            <form>

                <div class="forms_frame__id_worker" >
                    <label class="forms_frame__id_worker-label">ID_worker</label>
                    <input class="forms_frame__id_worker-input" name="id_worker" type="text" placeholder="ID-worker">
                </div>

                <div class="forms_frame__password" >
                    <label class="forms_frame__password-label">Password</label>
                    <input class="forms_frame__password-input" name="password" type="password" placeholder="Password">
                </div>

            </form>
            

        </div>

        <footer>
            <h5>Este sitio está protegido por reCAPTCHA. Se aplican los <a href="https://policies.google.com/terms">Términos del servicio</a> y la <a href="https://policies.google.com/privacy">Política de privacidad</a> de Google. ©AFPO MANAGMENT INVENTARY</h5>
        </footer>

    </div>
    
    

</body>
</html>