*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat";
}

/* header */

header{
    width: 100%;
    height: 55px;
    background-color:rgb(250, 250, 250);
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.fa-bars{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer; 
}

.fa-house{
    font-size: 24px;
    margin-top: 15px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
}

.header__nombre_completo_text{
    font-size: 19px;
    margin-top: 15px;
    margin-left: 40px;
}

.header__rol_text{
    font-size: 19px;
    margin-top: 15px;
    margin-left: 45px;
}

.fa-gear{
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

/* Body */

html, body {
    height: 100%;
}

body{
    background-color: rgb(250,250,250);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    flex: 1;
}

/* nav dropdown menu */
.nav__dropdown_menu{
    right: -1000px;
    top: 55px;
    position: absolute;
}

.dropdown_menu_active{
    right: 0;
}

.nav__dropdown_menu li{
    background-color: rgb(100, 100, 200, 0.2);
    list-style-type: none;
    padding: 2px;
    border-radius: 2px;
}

.nav__dropdown_menu a{
    text-decoration: none;
    font-size:13px ;
    color: rgb(0, 0, 0);
    
}

/* user_options_menu */

.user_options_menu_container{
    top: 55px;
    left: -1000px;
    position: absolute;
}

.active_user_options_menu_container{
    left: 0;
}

.user_options_menu{
    background-color: rgb(220, 220, 220);
    width: 250px;
    height: 92vh;
}

.user_options_menu li{
    list-style-type: none;
    padding: 15px;
    
}

.user_options_menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
}



/* functions */

.tittle{
    margin-top: 60px;
    margin-bottom: 100px;
}

.options{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px;
    grid-gap: 50px;
}

.create_users_link, 
.update_users_link,
.search_users_link,
.delete_users_link{
    border-radius: 20px;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.9);
    text-decoration: none;
}

.create_users_link:hover, 
.update_users_link:hover,
.search_users_link:hover,
.delete_users_link:hover{
    width: 170px;
    height: 170px;
    position: relative;
    bottom: 10px;
    right: 10px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.25);
    
}

.create_users_link i, 
.update_users_link i,
.search_users_link i,
.delete_users_link i{
    font-size: 50px;
    margin-bottom: 15px;
}

.update_users_link i{
    margin-left: 50px;
}

.search_users_link i{
    margin-left: 30px;
}

.delete_users_link i{
    margin-left: 40px;
}


/* Footer */

footer{
    margin-top: auto;
    margin-bottom: 10px;
    z-index: 10;
}

.footer__copyright a{
    color: rgb(0, 0, 0);
}
